/* body {
    background-image: url('img/up.jpeg');
    background-size: cover;
} */
@font-face {
    font-family: crete_round;
    src: url('fonts/Crete_Round/CreteRound-Regular.ttf');
}
* {
    font-family: crete_round;
}

.main-div{
    position: relative;
}

.top-right {
    right: 0;
    position: absolute;
    margin: 4% 10% 0 0;
    width: 120px;
}
.top-right-child {
    margin-bottom: 25px;
    position: relative;
}
.Fristcol {
    margin: 5px 0 0 50%;
    width: 100%;
    font-size: 20px;
}
.sidebar {
    overflow-x: hidden;
    position: absolute;
}
.sidebar.temp {
    width: 200px;
}
.HighLowTemp {
    font-size: 20px;
    display: inline-block;
}
.HighLowTempText {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 4%;
}
.top-left {
    left: 0;
    position: absolute;
    margin: 4% 0 0 4%;
}
.CurrentTemp {
    font-size: 30px;
}
.top-left-child {
    margin: 0 0 15px;
}
#icon {
    height: 60px;
    width: 60px;
    background-size: cover;
}