body {
    margin: 0;
    background-image: url('img/up.jpeg');
    background-size: cover;
}
@font-face {
    font-family: crete_round;
    src: url('fonts/Crete_Round/CreteRound-Regular.ttf');
}
* {
    font-family: crete_round;
    color: white;
}
.main-div{
    position: relative;
}

.top-right {
    right: 0;
    position: absolute;
    margin: 4% 10% 0 0;
    width: 120px;
}
.top-right-child {
    margin-bottom: 25px;
    position: relative;
}
.Fristcol {
    margin: 5px 0 0 50%;
    width: 100%;
    font-size: 20px;
}
.sidebar {
    overflow-x: hidden;
    position: absolute;
}
.sidebar.temp {
    width: 200px;
}
.HighLowTemp {
    font-size: 20px;
    display: inline-block;
}
.HighLowTempText {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 4%;
}
.top-left {
    left: 0;
    position: absolute;
    margin: 4% 0 0 4%;
}
.CurrentTemp {
    font-size: 30px;
}
.top-left-child {
    margin: 0 0 15px;
}
#icon {
    height: 60px;
    width: 60px;
    background-size: cover;
}
.container {
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 200px;
    width: 99%;
}
.prev, .next {
    cursor: pointer;
    padding: 12px 18px 12px 18px;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
  }
.next {
    right: 0;
  }
.prev:hover, .next:hover {
    background-color: rgba(58, 58, 58, 0.8);
}
.butcontainer {
    display: inline-block;
    position: absolute;
    margin: 15px;
    height: 80px;
    width: 120px;
    padding-top: 5%;
}
.Slides {
    /* background-color: violet; */
    display: inline-block;
    margin: 15px;
    height: 100px;
    width: 80px;
}
.SlideText {
    font-size: 22px;
}